@import "tailwindcss";

* {
    transition: all 0.2s ease-in-out;
}

body {
    font-family: poppins;
    margin: 0px;
    padding: 0px;
    color: #232222;
    background-color: #F6F3F3;   
}

@media (max-width: 440px) {
    .footerItemsArea {
        justify-content: start;
    }
}
